pkgbase = v2raya-bin
	pkgdesc = V2Ray Linux client with web GUI, compatible with SS and SSR, supporting transparent proxy
	pkgver = {{pkgver}}
	pkgrel = 1
	url = https://github.com/mzz2017/V2RayA
	install = .INSTALL
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = GPL
	depends = glibc
	depends = v2ray
	source_i686 = v2raya::https://apt.v2raya.mzz.pub/pool/main/v/v2raya/v2raya_linux_386_v{{pkgver}}
	source_i686 = v2raya.service
	source_i686 = v2raya.png
	source_i686 = v2raya.desktop
	sha1sums_i686 = {{sha1sums_i686}}
	sha1sums_i686 = {{sha_service}}
	sha1sums_i686 = {{sha_png}}
	sha1sums_i686 = {{sha_desktop}}
	source_x86_64 = v2raya::https://apt.v2raya.mzz.pub/pool/main/v/v2raya/v2raya_linux_amd64_v{{pkgver}}
	source_x86_64 = v2raya.service
	source_x86_64 = v2raya.png
	source_x86_64 = v2raya.desktop
	sha1sums_x86_64 = {{sha1sums_x86_64}}
	sha1sums_x86_64 = {{sha_service}}
	sha1sums_x86_64 = {{sha_png}}
	sha1sums_x86_64 = {{sha_desktop}}
	source_armv7h = v2raya::https://apt.v2raya.mzz.pub/pool/main/v/v2raya/v2raya_linux_arm_v{{pkgver}}
	source_armv7h = v2raya.service
	source_armv7h = v2raya.png
	source_armv7h = v2raya.desktop
	sha1sums_armv7h = {{sha1sums_armv7h}}
	sha1sums_armv7h = {{sha_service}}
	sha1sums_armv7h = {{sha_png}}
	sha1sums_armv7h = {{sha_desktop}}
	source_armv6h = v2raya::https://apt.v2raya.mzz.pub/pool/main/v/v2raya/v2raya_linux_arm_v{{pkgver}}
	source_armv6h = v2raya.service
	source_armv6h = v2raya.png
	source_armv6h = v2raya.desktop
	sha1sums_armv6h = {{sha1sums_armv6h}}
	sha1sums_armv6h = {{sha_service}}
	sha1sums_armv6h = {{sha_png}}
	sha1sums_armv6h = {{sha_desktop}}
	source_aarch64 = v2raya::https://apt.v2raya.mzz.pub/pool/main/v/v2raya/v2raya_linux_arm64_v{{pkgver}}
	source_aarch64 = v2raya.service
	source_aarch64 = v2raya.png
	source_aarch64 = v2raya.desktop
	sha1sums_aarch64 = {{sha1sums_aarch64}}
	sha1sums_aarch64 = {{sha_service}}
	sha1sums_aarch64 = {{sha_png}}
	sha1sums_aarch64 = {{sha_desktop}}

pkgname = v2raya-bin

