pkgbase = v2raya-bin
	pkgdesc = A web GUI client of Project V which supports VMess, VLESS, SS, SSR, Trojan, Tuic and Juicity protocols
	pkgver = {{pkgver}}
	pkgrel = 1
	url = https://github.com/v2rayA/v2rayA
	install = .INSTALL
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = loong64
	arch = aarch64
	license = AGPL3
	provides = v2raya
	conflicts = v2raya
	backup = etc/default/v2raya
	source_i686 = installer_archlinux_x86_{{pkgver}}.pkg.tar.zst::https://github.com/v2rayA/v2rayA/releases/download/v{{pkgver}}/installer_archlinux_x86_{{pkgver}}.pkg.tar.zst
	sha256sums_i686 = {{sha256sums_i686}}
	source_x86_64 = installer_archlinux_x64_{{pkgver}}.pkg.tar.zst::https://github.com/v2rayA/v2rayA/releases/download/v{{pkgver}}/installer_archlinux_x64_{{pkgver}}.pkg.tar.zst
	sha256sums_x86_64 = {{sha256sums_x86_64}}
	source_armv7h = installer_archlinux_armv7_{{pkgver}}.pkg.tar.zst::https://github.com/v2rayA/v2rayA/releases/download/v{{pkgver}}/installer_archlinux_armv7_{{pkgver}}.pkg.tar.zst
	sha256sums_armv7h = {{sha256sums_armv7h}}
	source_aarch64 = installer_archlinux_arm64_{{pkgver}}.pkg.tar.zst::https://github.com/v2rayA/v2rayA/releases/download/v{{pkgver}}/installer_archlinux_arm64_{{pkgver}}.pkg.tar.zst
	sha256sums_aarch64 = {{sha256sums_aarch64}}
	source_loong64 = installer_archlinux_loongarch64_{{pkgver}}.pkg.tar.zst::https://github.com/v2rayA/v2rayA/releases/download/v{{pkgver}}/installer_archlinux_loongarch64_{{pkgver}}.pkg.tar.zst
	sha256sums_loong64 = {{sha256sums_loong64}}

pkgname = v2raya-bin
