[class^="mdi"], [class*=" mdi"] {
  font-family: 'iconfont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
.mdi.mdi-:before{
  font: unset !important;
}