@font-face {
    font-family: iconfont;
    src: url("iconfont.eot");src: url("iconfont.eot?238fde36#iefix") format("embedded-opentype"),
             url("iconfont.woff2?238fde36") format("woff2"),
             url("iconfont.woff?238fde36") format("woff"),
             url("iconfont.ttf?238fde36") format("truetype"),
             url("iconfont.svg?238fde36#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'iconfont';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.icon-Link_disconnect::before {
    content: "\ea01";
}

.icon-alert::before {
    content: "\ea02";
}

.icon-camera::before {
    content: "\ea03";
}

.icon-caret-down::before {
    content: "\ea04";
}

.icon-caret-up::before {
    content: "\ea05";
}

.icon-chakandaorujilu::before {
    content: "\ea06";
}

.icon-check-circle-fill::before {
    content: "\ea07";
}

.icon-chuangjiangongdan1::before {
    content: "\ea08";
}

.icon-clock2::before {
    content: "\ea09";
}

.icon-close-circle-fill::before {
    content: "\ea0a";
}

.icon-cloud-sync::before {
    content: "\ea0b";
}

.icon-cloud::before {
    content: "\ea0c";
}

.icon-coding_alert_circle::before {
    content: "\ea0d";
}

.icon-daoru::before {
    content: "\ea0e";
}

.icon-daoruzupu-xianxing::before {
    content: "\ea0f";
}

.icon-delete::before {
    content: "\ea10";
}

.icon-dian::before {
    content: "\ea11";
}

.icon-earth::before {
    content: "\ea12";
}

.icon-heart::before {
    content: "\ea13";
}

.icon-help-circle-outline::before {
    content: "\ea14";
}

.icon-label::before {
    content: "\ea15";
}

.icon-lianjie::before {
    content: "\ea16";
}

.icon-loading_ico::before {
    content: "\ea17";
}

.icon-logout::before {
    content: "\ea18";
}

.icon-setting::before {
    content: "\ea19";
}

.icon-share::before {
    content: "\ea1a";
}

.icon-switch-menu::before {
    content: "\ea1b";
}

.icon-sync::before {
    content: "\ea1c";
}

.icon-wave::before {
    content: "\ea1d";
}

.icon-wendangxiugai::before {
    content: "\ea1e";
}

.icon-winfo-icon-chakanbaogao::before {
    content: "\ea1f";
}
