pkgbase = v2raya
	pkgdesc = A web GUI client of Project V which supports V2Ray, SS, SSR, Trojan and Pingtunnel protocols
	pkgver = {{pkgver}}
	pkgrel = 1
	url = https://github.com/mzz2017/v2rayA
	install = .INSTALL
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = GPL
	makedepends = go>=2:1.11.3-1
	depends = glibc
	depends = v2ray
	source = v2raya-{{pkgver}}.tar.gz::https://github.com/mzz2017/v2rayA/archive/v{{pkgver}}.tar.gz
	sha512sums = SKIP

pkgname = v2raya

