pkgbase = v2raya
	pkgdesc = A web GUI client of Project V which supports VMess, VLESS, SS, SSR, Trojan and Pingtunnel protocols
	pkgver = {{pkgver}}
	pkgrel = 1
	url = https://github.com/v2rayA/v2rayA
	install = .INSTALL
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = GPL3
	makedepends = go>=2:1.12.3-1
	makedepends = nodejs>=14
	makedepends = yarn
	makedepends = python2
	depends = glibc
	depends = v2ray
	source = v2raya-{{pkgver}}.tar.gz::https://github.com/v2rayA/v2rayA/archive/v{{pkgver}}.tar.gz
	sha512sums = SKIP

pkgname = v2raya

