body.has-navbar-fixed-top, html.has-navbar-fixed-top{
  padding-top:2.25rem;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  outline: 1px solid slategrey;
}

nav::-webkit-scrollbar {
  height: 0.75em;
}

nav::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 5px;
}

nav::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  outline: 1px solid slategrey;
  border-radius: 5px;
}