[Unit]
Description=v2rayA Service for %i
Documentation=https://github.com/v2rayA/v2rayA/wiki
After=network.target nss-lookup.target iptables.service ip6tables.service
Wants=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/v2raya --lite --log-disable-timestamp
Restart=on-failure

[Install]
WantedBy=multi-user.target
