[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=v2rayA
Keywords=Internet;VPN;Proxy;v2ray;v2raya
Exec=xdg-open "https://v2raya.mzz.pub"
Icon=/usr/share/icons/v2raya.png